[submodule "veraPDF-corpus"]
	path = veraPDF-corpus
	url = https://github.com/GerHobbelt/veraPDF-corpus.git
[submodule "pdfium_tests"]
	path = pdfium_tests
	url = https://github.com/GerHobbelt/pdfium_tests.git
[submodule "openpreserve-format-corpus"]
	path = openpreserve-format-corpus
	url = https://github.com/GerHobbelt/format-corpus.git
[submodule "list-of-other-pdf-corpora-out-there"]
	path = list-of-other-pdf-corpora-out-there
	url = https://github.com/GerHobbelt/pdf-corpora.git
[submodule "artifex-mupdf-test-corpus"]
	path = artifex-mupdf-test-corpus
	url = https://github.com/GerHobbelt/artifex-mupdf-test-corpus.git
[submodule "pdf2htmlEX-testcases"]
	path = pdf2htmlEX-testcases
	url = https://github.com/GerHobbelt/pdf2htmlEX-testcase.git
[submodule "ACL-anthology-corpus"]
	path = ACL-anthology-corpus
	url = https://github.com/GerHobbelt/ACL-anthology-corpus.git
[submodule "Ariadne-LinearA-Minoan-corpus"]
	path = Ariadne-LinearA-Minoan-corpus
	url = https://github.com/GerHobbelt/Ariadne.git
[submodule "0ca_fuzzing_corpus_pdfs"]
	path = 0ca_fuzzing_corpus_pdfs
	url = https://github.com/GerHobbelt/corpus_pdfs.git
[submodule "joris-schellekens-pdf-corpus"]
	path = joris-schellekens-pdf-corpus
	url = https://github.com/GerHobbelt/pdf-corpus.git
[submodule "itext7-pdf-corpus"]
	path = itext7-pdf-corpus
	url = https://github.com/GerHobbelt/itext7-pdf-corpus.git
[submodule "pdfminer-testcases"]
	path = pdfminer-testcases
	url = git@github.com:GerHobbelt/pdfminer.six.git
